<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app">

    <application
        android:label="NewHoPe Food">
        <!-- Your application components here -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBVdxlP0JByd95hj1-KCSCEaloi6O9EJE8"/>
    </application>

</manifest>
